<footer id="helps">
  {{ range $section := .Site.Params.helps }}
  <nav>
    <h1>{{ $section.label }}</h1>
    <ul>
      {{ range $item := $section.items }}
      {{ if findRE "^https?://" $item.link }}
      <li><a href="{{ $item.link }}">{{ $item.title }}</a></li>
      {{ else }}
      <li><a href="{{ absURL $item.link }}">{{ $item.title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
  {{ end }}

  <aside>
    <p><a href="{{ absURL "/nyarla/" }}" class="hexagon"><img src="{{ absURL "/assets/avatar2.svg" }}" width="48" height="48"></a></p>
  </aside>
</footer>
