{{ $entries := dict }}
{{ $sitemap := slice }}

{{ $month := slice }}

{{ $pages := .Site.RegularPages.ByDate.Reverse }}
{{ $before := (index $pages 0).Date }}

{{ range $page := $pages }}
  {{ $data := partial "components/jsonpage.html.html" $page | unmarshal }}
  {{ $data = merge (dict "path" $page.Path) $data }}

  {{ if ne ($before.Format "2006-01") ($page.Date.Format "2006-01") }}
    {{ $entries = merge (dict ($before.Format "2006-01") $month) $entries }}
    {{ $month = slice }}
  {{ end }}

  {{ $month = $month | append $data }}
  {{ $sitemap = $sitemap | append $data }}

  {{ $before = $page.Date }}
{{ end }}

{{ $entries = merge (dict ($before.Format "2006-01") $month) $entries }}

{{ dict "entries" $entries "sitemap" $sitemap | jsonify }}
