{{ $Type := index . 1 }}
{{ $Num  := index . 2 }}
{{ with index . 0 }}

{{ $display := false }}

{{ if (and (eq .Site.Params.website "home") .Page.IsPage) }}
{{ $display = false }}
{{ else if eq $Num 1 }}
  {{ if eq $Type "top" }}
    {{ if and .Page.IsPage (gt (strings.RuneCount (.Page.Content | plainify)) 420) }}
      {{ $display = true }}
    {{ else }}
      {{ $display = false }}
    {{ end }}
  {{ else }}
    {{ $display = true }}
  {{ end }}
{{ else }}
  {{ if (eq $Type "top") }}
    {{ $display = false }}
  {{ else }}
    {{ $display = true }}
  {{ end }}
{{ end }}

{{ if $display }}
<aside class="ads">
{{ if (eq (getenv "NODE_ENV") "production") }}
{{ index .Site.Params.adsense .Type | safeHTML }}
{{ else }}
<div style="display: inline-block ; width: 100% ; height: 320px ;"></div>
{{ end }}
</aside>
{{ end }}

{{ end }}
