{{ define "bookmark" }}
  {{ $Site := index . 0 }}
  {{ $Page := index . 1 }}
  {{ $Data := index . 2 }}

  {{ $IsRenderDate := index . 3 }}

  {{ if $IsRenderDate }}
  <h1 class="date">
    <a href="{{ absURL (printf "/%s/%s/" $Site.Params.website ($Page.Date.Format "2006/01/02")) }}">
      <time datetime="{{ $Page.Date.Format "2006-01-02"}}">
        {{ $Page.Date.Format "2006年1月2日" }}
      </time>
    </a>
  </h1>
  {{ end }}
  
  <article class="bookmark">
    <h1 id="{{ $Page.Date.Format "150405" }}"><a href="{{ $Page.Params.link }}">{{ $Page.Title }}</a></h1>
    <nav>
      {{ range $tag := sort (default slice $Page.Params.tags) }} 
      <a href="{{ absURL (printf "/%s/tags/%s/" $Site.Params.website $tag ) }}">{{ $tag }}</a>
      {{ end }}
    </nav>
    <section class="content">
      {{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).content | safeHTML }}
    </section>
  </article>
{{ end }}

{{ define "echo" }}
  {{ $Site := index . 0 }}
  {{ $Page := index . 1 }}
  {{ $Data := index . 2 }}
  {{ $IsRenderPage := index . 3 }}

  <article class="echo post">
    <h1><a href="{{ $Page.Permalink }}">{{ $Page.Title }}</a></h1>
    <section class="content">
      {{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).content | safeHTML }}
    </section>

    <p class="postedat"><a href="https://the.kalaclista.com/nyarla/" class="hexagon"><img src="{{ absURL "/assets/avatar.svg"}}" width="24" height="24" alt="nyarla"></a>が大体<time datetime="2006-01-02">{{ $Page.Date.Format "2006年1月2日" }}ぐらいに投稿</time></p>

    <p class="comment"><a href="https://scrapbox.io/kalaclista/{{ $Page.Title }}">Scrapbox でコメントや意見を書く</a></p>
  </article>
{{ end }}

{{ define "note" }}
  {{ $Site := index . 0 }}
  {{ $Page := index . 1 }}
  {{ $Data := index . 2 }}
  {{ $IsRenderPage := index . 3 }}

  {{ if $IsRenderPage }}
  <article class="note post">
    <h1><a href="{{ $Page.Permalink }}">{{ $Page.Title }}</a></h1>
    <section class="content">
      {{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).content | safeHTML }}
    </section>
    <p class="postedat"><a href="https://the.kalaclista.com/nyarla/" class="hexagon"><img src="{{ absURL "/assets/avatar.svg"}}" width="24" height="24" alt="nyarla"></a>が大体<time datetime="2006-01-02">{{ $Page.Date.Format "2006年1月2日" }}ぐらいに記述</time></p>
    <p class="comment"><a href="https://scrapbox.io/kalaclista/{{ $Page.Title }}">Scrapbox でコメントや意見を書く</a></p>
  </article>
  {{ else }}
  <article class="summary">
    <a href="{{ $Page.Permalink }}">
      <h1>{{ $Page.Title }}</h1>
      <p>{{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).summary | safeHTML }}</p>
    </a>
  </article>
  {{ end }}
{{ end }}

{{ define "home" }}
  {{ $Site := index . 0 }}
  {{ $Page := index . 1 }}
  {{ $Data := index . 2 }}
  {{ $IsRenderPage := index . 3 }}

  {{ if (or (eq $Page.File.BaseFileName "search") (eq $Page.Kind "404")) }}
  <nav>
    <script async src='https://cse.google.com/cse.js?cx=partner-pub-1273544194033160:2995998151'></script>
    <div class="gcse-search"></div>
  </nav>
  {{ else if $IsRenderPage }}
  <article class="note post page {{ if eq $Page.File.BaseFileName "nyarla" }}profile{{ end }} {{ if eq $Page.File.BaseFileName "archives" }}archives{{ end }}">
    <h1><a href="{{ $Page.Permalink }}">{{ $Page.Title }}</a></h1>
    <section class="content">
      {{ if eq $Page.File.BaseFileName "archives" }}
        {{ range $year := seq (now.Format "2006") (-1) (2006) }}
          {{ range $month := seq (12) (-1) (1) }}
            {{ $displayed := false }}
            {{ $key := printf "%04d-%02d" $year $month }}
            {{ range $section := slice "posts" "echos" "notes" "bookmarks" }}
              {{ if isset (index $Site.Data.index $section).items $key }}
              {{ if not $displayed }}
              <h1>{{ printf "%04d年%d月" $year $month }}</h1>
              {{ $displayed = true }}
              {{ end }}
              <h2><a href="{{ absURL (printf "/%s/%04d/%02d/" $section $year $month) }}">{{ (index $Site.Params.labels $section) }}</a></h2>
              <ul>
              {{ range $page := sort (index (index $Site.Data.index $section).items $key) "date" "desc" }}
                <li><a href="{{ $page.permalink }}">{{ $page.title }}</a></li>
              {{ end }}
              </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

      {{ else }}
        {{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).content | safeHTML }}
      {{ end }}
    </section>
  </article>
  {{ end }}
{{ end }}

{{ define "post" }}
  {{ $Site := index . 0 }}
  {{ $Page := index . 1 }}
  {{ $Data := index . 2 }}
  {{ $IsRenderPage := index . 3 }}

  {{ if $IsRenderPage }}
  <article class="post">
    <p class="date"><a href="{{ absURL ($Page.Date.Format "/posts/2006/01/02/") }}"><time datetime="{{ $Page.Date.Format "2006-01-02" }}">{{ $Page.Date.Format "2006年1月2日" }}</time></a></p>
    <h1><a href="{{ $Page.Permalink }}">{{ $Page.Title }}</a></h1>
    {{ with (default (slice) $Page.Params.tags) }}
    {{ if ne (len .) 0 }}
    <nav>
    {{ range $tag := . }}
    <a href="{{ absURL (printf "/%s/tags/%s/" $Site.Params.website $tag) }}">{{ $tag }}</a> 
    {{ end }}
    </nav>
    {{ end }}
    {{ end }}
    <section class="content">
      {{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).content | safeHTML }}
    </section>
    <p class="postedat"><a href="https://the.kalaclista.com/nyarla/" class="hexagon"><img src="{{ absURL "/assets/avatar.svg"}}" width="24" height="24" alt="nyarla"></a>が大体<time datetime="2006-01-02">{{ $Page.Date.Format "2006年1月2日" }}に執筆</time></p>
    <p class="comment"><a href="https://scrapbox.io/kalaclista/{{ $Page.Title }}">Scrapbox でコメントや意見を書く</a></p>
  </article>
  {{ else }}
  <article class="summary">
    <p class="date"><a href="{{ absURL ($Page.Date.Format "/posts/2006/01/02/") }}"><time datetime="{{ $Page.Date.Format "2006-01-02" }}">{{ $Page.Date.Format "2006年1月2日" }}</time></a></p>
    <a href="{{ $Page.Permalink }}">
      <h1>{{ $Page.Title }}</h1>
      <p>{{ (partial "content.html.html" (slice $Site $Page $Data) | unmarshal).summary | safeHTML }}</p>
    </a>
  </article>
  {{ end }}
{{ end }}
