{{- $Site := index . 0 -}}
{{- $Page := index . 1 -}}
{{- $Data := index . 2 -}}

{{- $data := dict -}}

{{- $data = merge $data (dict "description" (replace $Site.Params.description "<br>" "")) -}}

{{- $data = merge $data (dict "content" (partial "markup.html.html" $Page.Content)) -}}

{{- if (le (strings.RuneCount $data.content) 140) -}}
  {{- $data = merge $data (dict "summary" ($data.content | plainify)) -}}
{{- else -}}
  {{- $data = merge $data (dict "summary" (printf "%s・・・" (substr ($data.content | plainify) 0 140))) -}}
{{- end -}}

{{- $data | jsonify -}}
