{{ $meta := partial "meta.html.html" (slice .Site .Page .Data) | unmarshal }}

{{ $type := index (dict "bookmarks" "Collection" "echos" "Blog" "home" "WebSite" "notes" "WebSite" "posts" "Blog") .Site.Params.website }}
{{ $subtype := index (dict "bookmarks" "CollectionPage" "echos" "BlogPosting" "home" "WebPage" "notes" "Article" "posts" "BlogPosting") .Site.Params.website }}

{{ $author := dict "@type" "Person" "name" "OKAMURA Naoki a.k.a nyarla" "email" "nyarla@kalaclista.com" }}
{{ $author  = merge $author (dict "familyName" "OKAMURA" "givenName" "Naoki") }}

{{ $jsonld := dict "@context" "https://schema.org" "@id" $meta.permalink }}
{{ $jsonld  = merge $jsonld (dict "headline" $meta.title "author" $author) }}

{{ $breadcrumb := slice }}

{{ $root := dict "@type" "ListItem" "position" 1 "name" "カラクリスタ" "item" (dict "@type" "WebSite" "@id" (absURL "/")) }}
{{ $breadcrumb = append (slice $root) $breadcrumb }}

{{ if eq .Site.Params.website "home" }}
  {{ if eq .Page.File.BaseFileName "search" }}
    {{ $branch := dict "@type" "ListItem" "position" 2 "name" .Site.Params.search.title "item" (dict "@type" "WebPage" "@id" (absURL "/search/")) }}
    {{ $breadcrumb = append (slice $branch) $breadcrumb }}
  {{ else if eq .Page.File.BaseFileName "archives" }}
    {{ $branch := dict "@type" "ListItem" "position" 2 "name" .Site.Params.archives.title "item" (dict "@type" "WebPage" "@id" (absURL "/archives/")) }}
    {{ $breadcrumb = append (slice $branch) $breadcrumb }}
  {{ end }}
{{ else }}

{{ $branch := dict "@type" "ListItem" "position" 2 "name" .Site.Title "item" (dict "@type" $type "@id" (absURL (printf "/%s/" .Site.Params.website))) }}
{{ $breadcrumb = append (slice $branch) $breadcrumb }}

{{ if .Page.IsHome }}
  {{ $jsonld = merge $jsonld (dict "type" $type) }}
{{ else }}
  {{ $jsonld = merge $jsonld (dict "type" $subtype) }}

  {{ $segments := split (default "" .Page.File.Dir) "/" }}

  {{ if .Page.IsPage }}
    {{ $entry := dict "@type" "ListItem" "position" 3 "name" $meta.title "item" (dict "@type" $subtype "@id" $meta.permalink ) }}
    {{ $breadcrumb = append (slice $entry) $breadcrumb }}
  {{ else if eq .Page.Section "tags" }}
    {{ $tags := dict "@type" "ListItem" "position" 3 "name" (printf "タグ： %s" .Data.Term) "item" (dict "@type" $subtype "@id" (absURL (printf "/%s/tags/%s/" .Site.Params.website .Data.Term ))) }}
    {{ $breadcrumb = append (slice $tags) $breadcrumb }}
  {{ else }}
    {{ $year := dict "@type" "ListItem" "position" 3 "name" (printf "%s年" (index $segments 0)) "item" (dict "@type" $subtype "@id" (absURL (printf "/%s/%s/" .Site.Params.website (index $segments 0 )))) }}
    {{ $breadcrumb = append (slice $year) $breadcrumb }}

    {{ if ne (default "" (index $segments 1)) "" }}
      {{ $month := dict "@type" "ListItem" "position" 4 "name" (printf "%s月" (replaceRE "^0" "" (index $segments 1))) "item" (dict "@type" $subtype "@id" (absURL (printf "/%s/%s/%s/" .Site.Params.website (index $segments 0) (index $segments 1 ) ))) }}
      {{ $breadcrumb = append (slice $month) $breadcrumb }}
    {{ end }}

    {{ if ne (default "" (index $segments 2)) "" }}
      {{ $day := dict "@type" "ListItem" "position" 5 "name" (printf "%s日" (replaceRE "^0" "" (index $segments 2))) "item" (dict "@type" $subtype "@id" (absURL (printf "/%s/%s/%s/%s/" .Site.Params.website (index $segments 0) (index $segments 1 ) (index $segments 2) ))) }}
      {{ $breadcrumb = append (slice $day) $breadcrumb }}
    {{ end }}
  {{ end }}
{{ end }}

{{ end }}

{{ $breadcrumbList := dict "@context" "https://schema.org" "@type" "breadcrumbList" "itemListElement" $breadcrumb }}

<script type="application/ld+json">
  [ {{ $jsonld }}, {{ $breadcrumbList }} ]
</script>
