<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="canonical" href="https://the.kalaclista.com{{ .Page.RelPermalink }}">

<link rel="shortcut icon" href="{{ absURL "favicon.ico" }}">
<link rel="icon" type="image/x-icon" href="{{ absURL "favicon.ico"}}">
<link rel="apple-touch-icon" size="180x180" href="{{ absURL "apple-touch-icon.png"}}">

{{ if .Page.IsPage }}
<meta name="edit" content="kalaclista:{{ .Site.Params.website }}/{{ .Page.File.Path }}">
{{ end }}

{{ if eq .Site.Params.website "home" }}
<link rel="alternate" name="Atom 1.0 Feed" type="application/atom+xml" href="{{ absURL "/atom.xml" }}">
<link rel="alternate" name="RSS 2.0 Feed" type="application/rss+xml" href="{{ absURL "/index.xml" }}">
<link rel="alternate" name="JSON Feed" type="application/json" href="{{  absURL "jsonfeed.json" }}">
{{ else }}
{{ with .Site.Params.website }}
<link rel="alternate" name="Atom 1.0 Feed for {{ . }}" type="application/atom+xml" href="{{ absURL (printf "/%s/atom.xml" .) }}">
<link rel="alternate" name="RSS 2.0 Feed for {{ . }}" type="application/rss+xml" href="{{ absURL (printf "/%s/index.xml" .) }}">
<link rel="alternate" name="JSON Feed for {{ . }}" type="application/json" href="{{  absURL (printf "/%s/jsonfeed.json" .) }}">
{{ end }}
{{ end }}

{{ partial "assets.html.html" . }}
{{ partial "share.html.html" . }}
{{ partial "jsonld.html.html" . }}
