{{- $Site := index . 0 -}}
{{- $Page := index . 1 -}}
{{- $Data := index . 2 -}}

{{- $content := partial "content.html.html" (slice $Site $Page $Data) | unmarshal -}}
{{- $data := dict -}}

{{- $date := split (default "" $Page.File.Dir) "/" -}}
{{- $year := index $date 0 -}}
{{- $month := replaceRE "^0(\\d)" "$1" (default "" (index $date 1)) -}}
{{- $day := replaceRE "^0(\\d)" "$1" (default "" (index $date 2)) -}}

{{- if ne $day "" -}}
  {{- $data = merge $data (dict "date" (printf "%s年%s月%s日" $year $month $day)) -}}
{{- else if ne $month "" -}}
  {{- $data = merge $data (dict "date" (printf "%s年%s月" $year $month)) -}}
{{- else -}}
  {{- $data = merge $data (dict "date" (printf "%s年" $year)) -}}
{{- end -}}

{{- if (eq $Site.Params.website "bookmarks") -}}
  {{- if $Page.IsPage -}}
    {{- $data = merge $data (dict "title" $Page.Title) -}}
    {{- $data = merge $data (dict "description" $content.summary) -}}
    {{- $data = merge $data (dict "permalink" (replaceRE "/(\\d{6})/$" "/#$1" $Page.Permalink) -}}
  {{- else if not $Page.IsHome -}}
    {{- if (ne $Page.Section "tags") -}}
      {{- $data = merge $data (dict "title" (printf "%sのブックマーク" $data.date)) -}}
      {{- $data = merge $data (dict "description" $data.title) -}}
      {{- $data = merge $data (dict "permalink" (absURL (printf "/%s/" $Page.RelPermalink))) -}}
    {{- else -}}
      {{- $data = merge $data (dict "title" (printf "%sというタグの付いたブックマーク" $Data.Term)) -}}
      {{- $data = merge $data (dict "description" $data.title) -}}
      {{- $data = merge $data (dict "permalink" (absURL (printf "/%s/tags/%s/" $Site.Params.website $Data.Term))) -}}
    {{- end -}}
 {{- else -}}
    {{- $data = merge $data (dict "title" $Site.Title) -}}
    {{- $data = merge $data (dict "description" $content.description) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- end -}}
{{- end -}}

{{- if (eq $Site.Params.website "echos") -}}
  {{- if $Page.IsPage -}}
    {{- $data = merge $data (dict "title" $Page.Title) -}}
    {{- $data = merge $data (dict "description" $content.summary) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- else if not $Page.IsHome -}}
    {{- $data = merge $data (dict "title" (printf "%sのぼやき" $data.date)) -}}
    {{- $data = merge $data (dict "description" $data.title) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- else -}}
    {{- $data = merge $data (dict "title" $Site.Title) -}}
    {{- $data = merge $data (dict "description" $content.description) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- end -}}
{{- end -}}

{{- if (eq $Site.Params.website "notes") -}}
  {{- if $Page.IsPage -}}
    {{- $data = merge $data (dict "title" $Page.Title) -}}
    {{- $data = merge $data (dict "description" $content.summary) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- else -}}
    {{- $data = merge $data (dict "title" $Site.Title) -}}
    {{- $data = merge $data (dict "description" $content.description) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- end -}}
{{- end -}}

{{- if (eq $Site.Params.website "posts") -}}
  {{- if $Page.IsPage -}}
    {{- $data = merge $data (dict "title" $Page.Title) -}}
    {{- $data = merge $data (dict "description" $content.summary) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- else if not $Page.IsHome -}}
     {{- if (ne $Page.Section "tags") -}}
      {{- $data = merge $data (dict "title" (printf "%sの記事" $data.date)) -}}
      {{- $data = merge $data (dict "description" $data.title) -}}
      {{- $data = merge $data (dict "permalink" (absURL (printf "/%s/" $Page.RelPermalink))) -}}
    {{- else -}}
      {{- $data = merge $data (dict "title" (printf "%sというタグの付いた記事" $Data.Term)) -}}
      {{- $data = merge $data (dict "description" $data.title) -}}
      {{- $data = merge $data (dict "permalink" (absURL (printf "/%s/tags/%s/" $Site.Params.website $Data.Term))) -}}
    {{- end -}}
   {{- else -}}
    {{- $data = merge $data (dict "title" $Site.Title) -}}
    {{- $data = merge $data (dict "description" $content.description) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- end -}}
{{- end -}}

{{- if (eq $Site.Params.website "home") -}}
  {{- if $Page.IsPage -}}
    {{- if eq $Page.File.BaseFileName "search" -}}
      {{- $data = merge $data (dict "title" $Site.Params.search.title) -}}
      {{- $data = merge $data (dict "description" $Site.Params.search.description) -}}
      {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
    {{- else -}}
      {{- $data = merge $data (dict "title" $Page.Title) -}}
      {{- $data = merge $data (dict "description" $content.summary) -}}
      {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
    {{- end -}}
  {{- else if $Page.IsHome -}}
    {{- $data = merge $data (dict "title" $Site.Title) -}}
    {{- $data = merge $data (dict "description" $content.description) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- else if eq $Page.Kind "404" -}}
    {{- $data = merge $data (dict "title" $Site.Title ) -}}
    {{- $data = merge $data (dict "description" (index $Site.Params "404").description ) -}}
    {{- $data = merge $data (dict "permalink" $Page.Permalink) -}}
  {{- end -}}
{{- end -}}

{{- $data | jsonify -}}
