{{ $content := partial "functions/content.html.html" .Content | unmarshal }}
{{ $jsonld  := partial "shared/jsonld.html.html" . | unmarshal }}

{{ $schema := dict "@context" "https://schema.org" "author" $jsonld.author }}

{{ $breadcrumb := $jsonld.breadcrumb }}

{{ $brunch := dict "@type" "ListItem" "position" 2 "name" .Site.Title "item" (absURL "/posts/") }}
{{ $breadcrumb = $breadcrumb | append $brunch }}

<link rel="alternate"
      type="application/atom+xml"
      name="Atom 1.0 Feed for Posts"
      href="{{ absURL "atom.xml" }}">

<link rel="alternate"
      type="application/rss+xml"
      name="RSS 2.0 Feed for Posts"
      href="{{ absURL "index.xml" }}">

<link rel="alternate"
      type="application/atom+xml"
      name="JSON Feed for Posts"
      href="{{ absURL "jsonfeed.json" }}">

<meta property="og:section" content="posts">
{{ range $tag := default (slice) .Page.Params.tags }}
<meta property="og:tag" content="{{ $tag }}">
{{ end }}

{{ if .Page.IsPage }}
<title>{{ .Site.Title }} - {{ .Page.Title }}</title>
<meta name="description" content="{{ $content.summary }}">
<meta property="og:site_title" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:type" content="article">

{{ $schema = merge (dict  "@type" "BlogPosting" "headline" .Page.Title "@id" .Page.Permalink) $schema }}

{{ $leaf := dict "@type" "ListItem" "position" 3 "name" .Page.Title "item" .Page.Permalink }}
{{ $breadcrumb = $breadcrumb | append $leaf }}

{{ else if eq .Page.Section "tags" }}
{{ $title := printf "%sというタグの付いた記事" .Data.Term }}
<title>{{ .Site.Title }} - {{ $title }}</title>
<meta name="description" content="{{ $title }}">
<meta property="og:site_title" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="website">

{{ $schema = merge (dict  "@type" "Blog" "headline" $title "@id" .Page.Permalink) $schema }}

{{ $leaf := dict "@type" "ListItem" "position" 3 "name" .Data.Term "item" .Page.Permalink }}
{{ $breadcrumb = $breadcrumb | append $leaf }}

{{ else if .Page.IsHome }}
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ replace .Site.Params.description "<br>" "" }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:type" content="website">

{{ $schema = merge (dict "@type" "Blog" "headline" .Site.Title "@id" .Page.Permalink) $schema }}

{{ else }}
{{ $date  := partial "functions/parsedate.html.html" .Page | unmarshal }}
{{ $dates := partial "functions/datelabel.html.html" .Page | unmarshal }}
{{ $title := printf "%sの記事" $dates.label }}
<title>{{ .Site.Title }} - {{ $title }}</title>
<meta name="description" content="{{ $dates.label }}">
<meta property="og:site_title" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $dates.label }}">
<meta property="og:type" content="website">

{{ $schema = merge (dict "@type" "Blog" "headline" $title "@id" .Page.Permalink) $schema }}

{{ if $date.hasYear }}
{{ $leaf := dict "@type" "ListItem" "position" 3 "name" (printf "%s年" $date.year) "item" (absURL (printf "bookmarks/%s/" $date.year)) }}
{{ $breadcrumb = $breadcrumb | append $leaf }}
{{ end }}

{{ if $date.hasMonth }}
{{ $leaf := dict "@type" "ListItem" "position" 4 "name" (printf "%s月"  $date.month) "item" (absURL (printf "bookmarks/%s/%s/" $date.year $date.month)) }}
{{ $breadcrumb = $breadcrumb | append $leaf }}
{{ end }}

{{ if $date.hasDay }}
{{ $leaf := dict "@type" "ListItem" "position" 5 "name" (printf "%s日"  $date.day) "item" (absURL (printf "bookmarks/%s/%s/%s/" $date.year $date.month $date.day)) }}
{{ $breadcrumb = $breadcrumb | append $leaf }}
{{ end }}

{{ end }}

{{ $list := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $breadcrumb }}

<script type="application/ld+json">
  [ {{ $schema }}, {{ $list }} ]
</script>
