<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    {{ partial "shared/meta.html.html" . }}
    {{ partial "posts/meta.html.html" . }}
  </head>
  <body>
    {{ partial "shared/header.html.html" . }}
    {{ partial "shared/adsense.html.html" .Site.Params.adsense.top }}
    {{ define "post" }}
    <article class="post" data-edit-protocol="kalaclista:posts/{{ .File.Path }}" data-edit-label="{{ .Title }}">
      <p class="date">
        <a href="{{ absURL (.Date.Format "/posts/2006/01/02/") }}">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
        </a>
      </p>
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
     
      {{ with (default (slice) .Params.tags) }}
      {{ if ne (len .) 0 }}
      <nav>
        {{ range $tag := . }}
        <a href="{{ absURL (printf "/posts/tags/%s/" $tag) }}">{{ $tag }}</a> 
        {{ end }}
      </nav>
      {{ end }}
      {{ end }}

      <section class="content">
        {{ partial "functions/markup.html.html" .Content }}
      </section>

      <p class="postedat">
        <a href="https://the.kalaclista.com/nyarla/" class="hexagon">
          <img src="{{ absURL "/assets/avatar.svg"}}" width="24" height="24" alt="nyarla">
        </a>
        が大体<time datetime="2006-01-02">{{ .Date.Format "2006年1月2日" }}ぐらいに執筆</time></p>

      <p class="comment"><a href="https://scrapbox.io/kalaclista/{{ .Title }}">Scrapbox でコメントや意見を書く</a></p>
    </article>
    {{ end }}

    <main id="posts">
      {{ block "post" .Page }}
      {{ end }}

      <nav class="pagination">
        {{ if .Page.Next }}
        <a href="{{ .Page.Next.Permalink }}">前</a>
        {{ end }}
        {{ if .Page.Prev }}
        <a href="{{ .Page.Prev.Permalink }}">次</a>
        {{ end }}
      </nav>
    </main>

    {{ partial "shared/adsense.html.html" .Site.Params.adsense.bottom }}
    {{ partial "shared/footer.html.html" . }}
  </body>
</html>
