{{ $query := unmarshal .Inner }}
{{ $monetize := (and (eq (getenv "NODE_ENV") "production") (eq (getenv "ENABLE_MONETIZE") "1")) }}

{{ $title := $query.title }}

{{ $amazonLink := printf "https://www.amazon.co.jp/s?k=%s" $title }}
{{ $rakutenLink := printf "https://search.rakuten.co.jp/search/mall/%s/?sf=1&used=0&v=2" $title }}

{{ if $monetize }}
  {{ $amazonLink = printf "%s&tag=nyarla-22" $amazonLink }}
  {{ $rakutenLink = printf "https://hb.afl.rakuten.co.jp/hgc/0d591c80.1e6947ee.197d1bf7.7a323c41/?pc=%s" ($rakutenLink | urlize) }}
{{ end }}

<figure class="shopcard">
  <nav>
    <h1><a href="{{ $amazonLink }}">{{ $title }}</a></h1>
    <ul>
      <li><a href="{{ $amazonLink }}">Amazon.co.jpで探す</a></li>
      <li><a href="{{ $rakutenLink}}">楽天で探す</a></li>
    </ul>
  </nav>
</figure>
