{{ $args := unmarshal .Inner }}
{{ $title := $args.title }}
{{ $description := $args.description }}
{{ $permalink := $args.permalink }}
{{ $thumbnail := default "" $args.thumbnail }}

<figure class="webcard"
        {{ if ne $thumbnail ""  }}
        data-thumbnail="true"
        style="background-image: url('{{ $thumbnail }}')"
        {{ end }}>
  <a href="{{ $permalink }}">
    <h1>{{ $title }}</h1>
    <blockquote>
      {{ if (ge (strings.RuneCount $description) 70) }}
      <p>{{ substr $description 0 70 }}...</p>
      {{ else }}
      <p>{{ $description }}</p>
      {{ end }}
    </blockquote>
    <p><cite>{{ $permalink }}</cite></p>
  </a>
</figure>
