{{ $args := unmarshal .Inner }}
{{ $title := $args.title }}
{{ $description := $args.description }}
{{ $permalink := urls.Parse $args.permalink }}

<figure class="webcard">
  <a href="{{ $permalink.String }}">
    <h1>{{ $title }}</h1>
    <blockquote>
      {{ if (ge (strings.RuneCount $description) 70) }}
      <p>{{ substr $description 0 70 }}...</p>
      {{ else }}
      <p>{{ $description }}</p>
      {{ end }}
    </blockquote>
    <p><cite>{{ replace $permalink.String $permalink.EscapedPath $permalink.Path }}</cite></p>
  </a>
</figure>
