<header id="navigation">
  <a href="{{ absURL "/nyarla/" }}" class="hexagon">
    <img  src="{{ absURL "/assets/avatar.svg" }}"
          alt="&#x1f441;" height="48" width="48">
  </a>

  <h1 id="title">
    <a href="{{ absURL "/" }}">カラクリスタ</a>
    {{ if eq .Site.Params.website "home" }}
      {{ if eq .Page.File.BaseFileName "search" }}
        <span>・</span>
        <a href="{{ absURL "/search/" }}">{{ .Site.Params.search.title }}</a>
      {{ else if eq .Page.Kind "404" }}
        <span>・</span>
        <strong>{{ (index .Site.Params "404").title }}</strong>
      {{ end }}
    {{ else }}
    <span>・</span>
    <a href="{{ absURL (printf "/%s/" .Site.Params.website) }}">{{ .Site.Params.title }}</a>
    {{ end }}
  </h1>

  {{ if eq .Page.File.BaseFileName "search" }}
    <p id="description">{{ .Site.Params.search.description | markdownify }}</p>
    <p id="message">{{ .Site.Params.search.message | markdownify }}</p>
  {{ else if eq .Page.Kind "404" }}
    <p id="description">{{ (index .Site.Params "404").description | markdownify }}</p>
    <p id="message">{{ (index .Site.Params "404").message | markdownify }}</p>
  {{ else }}
    <p id="description">{{ .Site.Params.description | markdownify }}</p>
    <p id="message">{{ .Site.Params.message | markdownify }}</p>
  {{ end }}

  {{ partial "shared/navs.html.html" . }}
</header>

{{ if (and .Page.IsPage (default false .Page.Params.fixme)) }}
<aside id="fixme" class="content">
  <h1>FIXME</h1>
  <p>
    この記事はこの Webサイトが辿った過去の様々な歴史的経緯により、
    表示の崩れなどの修正や補修が必要とされている記事です。
  </p>
  <p>
    しかしながらこの記事には、表示の崩れなどがそのまま残っていたりする可能性が有り、
    また確認や修正などの補修が間に合っていないため、現状のままとなっています。
  </p>
  <p>
    そのためこちらとしてもなるべく修正する様に心掛けていますが、
    現状ありのままに記事の崩れなどが原因で読み辛い場合も有り得ますので、
    その点はご了承ください。
  </p>
</aside>
{{ end }}

{{ if ne .Page.Kind "404" }}

{{ if (not (hasPrefix .Site.BaseURL "https")) }}
{{ $link := printf "https://the.kalaclista.com%s" .Page.RelPermalink }}
{{ $label := $link }}

{{ if (eq .Site.Params.website "notes") }}
  {{ $label = replace (printf "https://the.kalaclista.com/%s/" .Page.Params.slug) " " "-" }}
{{ end }}

<aside id="note" class="content">
  <h1>NOTE</h1>
  <p>
    このページは諸事情で暗号化通信（HTTP with TLS）を用いていないページとして提供されており、
    本来の暗号化通信で提供されるページは次の通りです：
  </p>
  <ul>
    <li><a href="{{ $link }}">{{ $label }}</a></li>
  </ul>
  <p>
    そのため次回のアクセス時やブックマークの際には、
    上記の HTTP with TLS （https）で提供される URL をご利用ください。
  </p>
</aside>
{{ end }}

{{ end }}
