<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="canonical" href="https://the.kalaclista.com{{ .Page.RelPermalink }}">

<link rel="shortcut icon" href="{{ absURL "/favicon.ico" }}">
<link rel="icon" type="image/x-icon" href="{{ absURL "/favicon.ico" }}">
<link rel="apple-touch-icon" size="180x180" href="{{ absURL "/apple-touch-icon.png" }}">

{{ $main := resources.Get "scss/main.scss" | resources.ToCSS (dict "targetPath" "assets/main.css") }}
{{ $colors := resources.Get "css/colors.css" | resources.ToCSS (dict "targetPath" "assets/colors.css") }}
{{ $highlight := resources.Get "css/highlight.css" | resources.ToCSS (dict "targetPath" "assets/highlight.css") }}
{{ $normalize := resources.Get "css/normalize.css" | resources.ToCSS (dict "targetPath" "assets/normalize.css") }}

<style>
{{ ($normalize | resources.Minify).Content | safeCSS }}
{{ ($colors | resources.Minify).Content | safeCSS }}
{{ ($highlight | resources.Minify).Content | safeCSS }}
{{ ($main | resources.Minify).Content | safeCSS }}
</style>

<meta name="twitter:card"     content="summary">
<meta name="twitter:site"     content="@kalaclista">
<meta name="twitter:creator"  content="@kalaclista">

<meta property="og:profile:first_name" content="Naoki">
<meta property="og:profile:last_name" content="OKAMURA">

<meta property="og:image" content="https://the.kalaclista.com/apple-touch-icon.png">
<meta property="og:url" content="{{ .Page.Permalink }}">

