<nav>
  {{ range $ns := slice "home" "posts" "echos" "notes" "bookmarks" "search" "archives" }}
    {{ $label := index $.Site.Params.labels $ns }}
    {{ $link := "" }}
    {{ $current := eq $ns $.Site.Params.website }}

    {{ if eq $ns "home" }}
      {{ if eq $.Page.File.BaseFileName "search" }}
        {{ $current = false }}
      {{ else if eq $.Page.File.BaseFileName "archives" }}
        {{ $current = false }}
      {{ else if (and $.Page.IsHome (eq $.Site.Params.website "home")) }}
        {{ $current = true }}
      {{ else }}
        {{ $current = false }}
      {{ end }}
    {{ end }}

    {{ if and (eq $.Site.Params.website "home") (eq $.Page.File.BaseFileName $ns) }}
      {{ $current = true }} 
    {{ end }}

    {{ if (eq $ns "home") }}
      {{ $link = "/" }}
    {{ else }}
      {{ $link = (printf "/%s/" $ns) }}
    {{ end }}

    <a href="{{ absURL $link }}" {{ if $current }}class="current"{{ end }}>{{ $label }}</a>
  {{ end }}
  <a href="https://twitter.com/kalaclista">小鳥</a>
  <a href="https://note.com/kalaclista">日記</a>
</nav>
