{{ $data := dict }}

{{ range $src := split . "/" }}
  {{ if ne (len (findRE "\\d{4}" $src)) 0 }}
    {{ $data = merge (dict "hasYear" true "year" $src) $data }}
  {{ else if ne (len (findRE "\\d{2}" $src)) 0 }}
    {{ if $data.hasMonth }}
      {{ $data = merge (dict "hasDay" true "day" (replaceRE "^0" "" $src)) $data }}
    {{ else }}
      {{ $data = merge (dict "hasMonth" true "month" (replaceRE "^0" "" $src)) $data }}
    {{ end }}
  {{ end }}
{{ end }}

{{ merge (dict "isDate" (or $data.hasYear $data.hasMonth $data.hasDay)) $data | jsonify }}
