{{ $content := partial "functions/content.html.html" .Content | unmarshal }}
{{ $jsonld  := partial "shared/jsonld.html.html" | unmarshal }}

{{ $schema := dict "@context" "https://schema.org" "author" $jsonld.author }}
{{ $breadcrumb := $jsonld.breadcrumb }}

{{ $brunch := dict "@type" "ListItem" "position" 2 "name" .Site.Title "item" (absURL "/")}}
{{ $breadcrumb = $breadcrumb | append $brunch }}

<link rel="alternate"
      type="application/atom+xml"
      name="Atom 1.0 Feed"
      href="{{ absURL "atom.xml" }}">

<link rel="alternate"
      type="application/rss+xml"
      name="RSS 2.0 Feed"
      href="{{ absURL "index.xml" }}">

<link rel="alternate"
      type="application/atom+xml"
      name="JSON Feed"
      href="{{ absURL "jsonfeed.json" }}">

<meta property="og:section" content="notes">

{{ if and .Page.IsPage (ne .Page.File.BaseFileName "search") (ne .Page.File.BaseFileName "archives") }}
<title>{{ .Site.Title }} - {{ .Page.Title }}</title>
<meta name="description" content="{{ $content.summary }}">
<meta property="og:site_title" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:type" content="article">

{{ $schema = merge (dict "@type" "WebPage" "headline" .Page.Title "@id" .Page.Permalink) $schema }}
{{ $leaf := dict "@type" "ListItem" "position" 3 "name" .Page.Title "item" .Page.Permalink }}
{{ $breadcrumb = $breadcrumb | append $leaf }}

{{ else if (eq .Page.File.BaseFileName "search") }}
<title>{{ .Site.Title }}・{{ .Site.Params.search.title }}</title>
<meta name="description" content="{{ replace .Site.Params.search.description "<br>" "" }}">
<meta property="og:site_title" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Site.Params.search.title }}">
<meta property="og:type" content="article">

{{ $schema = merge (dict "@type" "WebPage" "headline" .Page.Title "@id" .Page.Permalink) $schema }}
{{ $leaf := dict "@type" "ListItem" "position" 3 "name" (printf "%s・%s" .Site.Title .Site.Params.search.title) "item" .Page.Permalink }}
{{ $breadcrumb = $breadcrumb | append $leaf }}
{{ else }}

<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ replace .Site.Params.description "<br>" "" }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:type" content="website">

{{ $schema = merge (dict "@type" "WebSite" "headline" .Site.Title "@id" .Page.Permalink) $schema }}

{{ end }}

{{ $list := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $breadcrumb }}

<script type="application/ld+json">
  [ {{ $schema }}, {{ $list }} ]
</script>
