<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    {{ partial "metadata.html.html" . }} 
  </head>
  <body>
    {{ partial "blocks.html.html" . }}
    {{ if .Page.IsHome }}
      {{ $paginator := .Paginate .Site.RegularPages.ByDate.Reverse }}
      {{ $date := (index $paginator.Pages 0).Date }}

      {{ partial "header.html.html" (slice . (len $paginator.Pages)) }}

      {{ if ne .Site.Params.website "home" }}
      <main id="{{ .Site.Params.website }}">
        {{ range $idx, $page := $paginator.Pages }}
          {{ $isRenderDate := (or (eq $idx 0) (ne $date.Year $page.Date.Year) (ne $date.Month $page.Date.Month)) }}
          {{ $isRenderPage := $.Page.IsPage }}

          {{ with $.Site.Params.website }}
            {{ if eq . "bookmarks" }}
              {{ block "bookmark" (slice $.Site $page $.Data $isRenderDate) }}{{ end }}
            {{ else if eq . "echos" }}
              {{ block "echo" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
            {{ else if eq . "notes" }}
              {{ block "note" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
            {{ else if eq . "posts" }}
              {{ block "post" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
            {{ end }}
          {{ end }}

          {{ $date = $page.Date }}
        {{ end }}
        <nav class="pagination">
          {{ if $paginator.HasPrev }}
          <a href="{{ absURL (printf "/%s/pages/%d/" .Site.Params.website $paginator.Prev.PageNumber) }}">前</a>
          {{ end }}

          {{ if $paginator.HasNext }}
          <a href="{{ absURL (printf "/%s/pages/%d/" .Site.Params.website $paginator.Next.PageNumber) }}">次</a>
          {{ end }}
        </nav>
      </main>
      {{ else }}
      <main id="home">
        {{ range $section := slice "posts" "echos" "notes" "bookmarks" }}
        <h1><a href="{{ absURL (printf "/%s/" $section) }}">{{ index $.Site.Params.labels $section }}</a></h1> 
        {{ range $data := first 5 (index $.Site.Data $section).items }}
          {{ $summary := ($data.content_html | safeHTML | plainify) }}
          {{ if (gt (strings.RuneCount $summary) 140) }}
            {{ $summary = printf "%s・・・" (substr $summary 0 140) }}
          {{ end }}

          {{ $date := split (index (split $data.date "T") 0) "-" }}
          {{ $year := index $date 0 | int }}
          {{ $month := replaceRE "^0" "" (index $date 1) | int }}
          {{ $day := replaceRE "^0" "" (index $date 2) | int }}
          
          {{ if (ne $section "bookmarks") }}
          <article class="summary">
            {{ if (ne $section "notes") }}
            <p class="date"><a href="{{ absURL (printf "/%s/%04d/%02d/%02d/" $section $year $month $day) }}">{{ printf "%02d年%d月%d日" $year $month $day }}</a></p>
            {{ end }}
            <a href="{{ $data.url }}">
              <h1>{{ $data.title | safeHTML }}</h1>
              <p>{{ $summary }}</p>
            </a>
          </article>
          {{ else }}
          <article class="bookmark">
            <h1><a href="{{ $data.external_link }}">{{ $data.title }}</a></h1>
            <nav>
              {{ range $tag := sort $data.tags }}
              <a href="{{ absURL (printf "/bookmarks/tags/%s/" $tag) }}">{{ $tag }}</a>
              {{ end }} 
            </nav>
            <section class="content">
              {{ $data.content_html | safeHTML }}
            </section>
          </article>
          {{ end }}

        {{ end }}
        <p><a href="{{ absURL (printf "/%s/" $section) }}">{{ index $.Site.Params.labels $section }}をもっと見る</a></p>
        {{ end }}
      </main>
      {{ end }}
      {{ partial "footer.html.html" (slice . (len $paginator.Pages)) }} 
    {{ else }}
      {{ $pages := slice }}

      {{ if eq .Page.Section "tags" }}
        {{ $pages = .Pages.ByDate.Reverse }}
      {{ else }}
        {{ $datetime := split (default "" .Page.File.Dir) "/" }}
        {{ $year := (default "0" (index $datetime 0)) | int }}
        {{ $month := (default "0" (replaceRE "^0" "" (default "" (index $datetime 1)))) | int }}
        {{ $day := (default "0" (replaceRE "^0" "" (default "" (index $datetime 2)))) | int }}

        {{ if and (ne $day 0) (ne $month 0) (ne $year 0) }}
          {{ $pages = where (where (where .Site.RegularPages.ByDate.Reverse "Date.Year" "==" $year) "Date.Month" "==" $month) "Date.Day" "==" $day }}
        {{ else if and (ne $month 0) (ne $year 0) }}
          {{ $pages = where (where .Site.RegularPages.ByDate.Reverse "Date.Year" "==" $year) "Date.Month" "==" $month }}
        {{ else if (ne $year 0) }}
          {{ $pages = where .Site.RegularPages.ByDate.Reverse "Date.Year" "==" $year }}
        {{ end }}
      {{ end }}

      {{ partial "header.html.html" (slice . (len $pages)) }}
      {{ $date := (index $pages 0).Date }}

      <main id="{{ .Site.Params.website }}">
      {{ range $idx, $page := $pages }}
        {{ $isRenderDate := (or (eq $idx 0) (ne $date.Year $page.Date.Year) (ne $date.Month $page.Date.Month)) }}
        {{ $isRenderPage := $.Page.IsPage }}
        
        {{ with $.Site.Params.website }}
          {{ if eq . "bookmarks" }}
            {{ block "bookmark" (slice $.Site $page $.Data $isRenderDate) }}{{ end }}
          {{ else if eq . "echos" }}
            {{ block "echo" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
          {{ else if eq . "notes" }}
            {{ block "note" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
          {{ else if eq . "posts" }}
            {{ block "post" (slice $.Site $page $.Data $isRenderPage) }}{{ end }}
          {{ end }}
        {{ end }}
        
        {{ $date = $page.Date }}
      {{ end }}
      </main>

      {{ partial "footer.html.html" (slice . (len $pages)) }} 
    {{ end }}
  </body>
</html>
