<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    {{ partial "components/meta.html.html" . }}
  </head>
  <body id="notfound">
    {{ partial "components/header.html.html" . }}
    <main id="home">
      <nav>
        <script async src='https://cse.google.com/cse.js?cx=partner-pub-1273544194033160:2995998151'></script>
        <div class="gcse-search"></div>
      </nav>
    </main>
    {{ partial "components/footer.html.html" . }}
  </body>
</html>
